.user_stats.grid_12
	%h1 Congrats, You completed the game!
	%h2= "Deck Name: #{@round.deck.name}, Level #{@round.deck.level}"
	%h4= "Percentage Correct: #{@round.correct_percentage}%"
	%h5= "Played on: #{@round.created_at.strftime('%d %b. %Y')}"
