.user_stats.grid_12
	%h1= "Welcome #{@user.username}"
	- @user.rounds.reverse.each do |round|
		%h3= "Deck Name: #{round.deck.name}, Level #{round.deck.level}"
		%h5= "Percentage Correct: #{round.correct_percentage}"
		%p= "Played on: #{round.created_at.strftime('%d %b. %Y')}"
