!!!
%html
  %head
    %title= content_for?(:title) ? content_for(:title) : "Mia Math "
    = include_gon
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %link{href: 'http://fonts.googleapis.com/css?family=Finger+Paint', rel: 'stylesheet', type: 'text/css'}
    = favicon_link_tag "mia_welcome.png"
  %body
    .container.clearfix
      = render "/layouts/navigation"
      - if flash[:notice]
        .notice=flash[:notice]
      = yield
      = render "/layouts/footer"